<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="ServiceSMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<system.web>
		<compilation debug="true" >
		</compilation>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<system.serviceModel>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  <behaviors>
			<serviceBehaviors>
				<behavior name="">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
    
	</system.serviceModel>
	<applicationSettings>
		<ServiceSMS.Properties.Settings>
			<setting name="AISURL" serializeAs="String">
				<value>http://203.170.228.190:3372/</value>
			</setting>
			<setting name="DTACURL" serializeAs="String">
				<value>http://http://corpsmsweb.dtac.co.th/servlet/com.iess.socket.SmsCorplink</value>
			</setting>
			<setting name="ServerDatabase" serializeAs="String">
				<value>127.0.0.1</value>
			</setting>
			<setting name="UsernameDatabase" serializeAs="String">
				<value>sa</value>
			</setting>
			<setting name="PasswordDatabase" serializeAs="String">
				<value>sa</value>
			</setting>
			<setting name="Timeout" serializeAs="String">
				<value>6000</value>
			</setting>
			<setting name="Database" serializeAs="String">
				<value>SMSService</value>
			</setting>
		</ServiceSMS.Properties.Settings>
	</applicationSettings>
</configuration>
