<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ServiceSMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
      <sectionGroup name="common">
        <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
      </sectionGroup>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    
  </configSections>
  <system.web>
    <compilation debug="true" >
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net">
        <arg key="configType" value="INLINE"/>
      </factoryAdapter>
    </logging>
  </common>
  
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs\\logfile"/>
      <staticLogFileName value="false"/>
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <datePattern value="_yyyy.MM.dd&quot;.log&quot;"/>
      <maxSizeRollBackups value="100"/>
      <maximumFileSize value="5024KB"/>

      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date | [%thread] | %-5level | %logger | %message;%newline"/>
      </layout>
    </appender>

    <!--<appender name="MongoAppender" type="log4net.Appender.MongoDBAppender, log4mongo-net">
      --><!-- MongoDB connection options --><!--
      <host value="localhost" />
      <port value="27017" />
      <databaseName value="logs" />
      <collectionName value="logs_dcm" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date | [%thread] | %-5level | %logger | %message;%newline" />
      </layout>
    </appender>-->

    <root>
      <level value="INFO"/>
      <appender-ref ref="RollingFileAppender"/>

      <!-- @DEV only -->
      <!--<appender-ref ref="MongoAppender"/>-->
    </root>
  </log4net>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />-->
    <bindings>
      <wsHttpBinding>
        <!--<binding name="DeviceBinding" transactionFlow="true">-->
        <binding name="SmsBinding" transactionFlow="true">
          <reliableSession enabled="false" />
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="None" negotiateServiceCredential="false"
             algorithmSuite="Default" establishSecurityContext="false" />
          </security>
        </binding>

        <!--<binding name="WSHttpBinding_IDeviceCommunicationService" closeTimeout="00:01:00"-->
        <binding name="WSHttpBinding_ISmsService" closeTimeout="00:01:00"
         openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
         bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="524288"
         useDefaultWebProxy="true" allowCookies="false">
          <security mode="None" />
        </binding>
        
        <!--<binding name="WSHttpBinding_IDeviceCommunicationService1">
          <security mode="None" />
        </binding>-->
        <!--<binding name="WSHttpBinding_IDeviceCommunicationService2">
          <security mode="None" />
        </binding>-->
      </wsHttpBinding>
    </bindings>

    <!--<client>
      <endpoint address="http://localhost:9882/DeviceCommunicationServer/DeviceCommunicationService"
       binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDeviceCommunicationService1"
       contract="DeviceCommandService.IDeviceCommunicationService" name="WSHttpBinding_IDeviceCommunicationService1" />
      <endpoint address="http://localhost:9991/DeviceAgentServer/DeviceService"
       binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDeviceCommunicationService2"
       contract="DeviceCommunicationService.IDeviceCommunicationService"
       name="WSHttpBinding_IDeviceCommunicationService" />
    </client>-->

    <services>
      <service name="ServiceSMS.IWSSMS">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="SmsBinding" contract="ServiceSMS.IWSSMS">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>

      <!--<service name="DcmWcfService.DcmGetService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="DeviceBinding" contract="CarPass.Dcm.Services.IDcmGetService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>-->
    </services>
  </system.serviceModel>
  
  
  
  
  <!--<system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>-->
  
  
  <applicationSettings>
    <ServiceSMS.Properties.Settings>
      <setting name="AISURL" serializeAs="String">
        <value>http://203.170.228.190:3372/</value>
      </setting>
      <setting name="DTACURL" serializeAs="String">
        <value>http://http://corpsmsweb.dtac.co.th/servlet/com.iess.socket.SmsCorplink</value>
      </setting>
      <setting name="ServerDatabase" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="UsernameDatabase" serializeAs="String">
        <value>sa</value>
      </setting>
      <setting name="PasswordDatabase" serializeAs="String">
        <value>sa</value>
      </setting>
      <setting name="Timeout" serializeAs="String">
        <value>6000</value>
      </setting>
      <setting name="Database" serializeAs="String">
        <value>SMSService</value>
      </setting>
    </ServiceSMS.Properties.Settings>
  </applicationSettings>
</configuration>
